<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, user-scalable=no";>
<title><%= title %></title>
<link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    .form-control {
        margin-bottom: 10px;
    }

    .btn-danger {
        margin-top: 8px;
    }
</style>